{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Migration Model</title>
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
    <style>
        body { margin: 0; padding: 0; }
        #map { position: absolute; top: 0; bottom: 0; width: 100%; }
    </style>
    <script>
    </script>
    </head>

    <body id="page-top">

      <!-- Page Wrapper -->
      <div id="wrapper">
  
          <!-- Sidebar -->
          <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  
              <!-- Sidebar - Brand -->
              <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                  <div class="sidebar-brand-icon rotate-n-15">
                      <i class="fas fa-laugh-wink"></i>
                  </div>
                  <div class="sidebar-brand-text mx-3">Migration Model</div>
              </a>
  
              <!-- Divider -->
              <hr class="sidebar-divider my-0">
  
              <!-- Nav Item - Dashboard -->
              <li class="nav-item active">
                  <a class="nav-link" href={% url 'show_turnover' %}>
                      <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span>Карта</span></a>
              </li>
              <hr class="sidebar-divider">
  
              <!-- Heading -->
              <div class="sidebar-heading">
                  Анализ
              </div>
              <!-- Nav Item - Charts -->
              <li class="nav-item">
                  <a class="nav-link" href={% url 'show_matrices' %}>
                      <i class="fas fa-fw fa-chart-area"></i>
                      <span>Матрица корреспонденций</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href={% url 'show_charts' %}>
                      <i class="fas fa-fw fa-chart-area"></i>
                      <span>Картограммы пассажиропотоков</span></a>
              </li>
  
              <li class="nav-item">
                  <a class="nav-link" href={% url 'show_tables' %}>
                      <i class="fas fa-fw fa-chart-area"></i>
                      <span>Таблицы обследования пассажиропотоков</span></a>
              </li>
  
              <li class="nav-item">
                  <a class="nav-link" href={% url 'show_character' %}>
                      <i class="fas fa-fw fa-chart-area"></i>
                      <span>Характиристики маршрутов</span></a>
              </li>
  
              <li class="nav-item">
                  <a class="nav-link" href={% url 'show_criterion' %}>
                      <i class="fas fa-fw fa-chart-area"></i>
                      <span>Расчет критериев качества</span></a>
              </li>
  
              
              <!-- Divider -->
              <hr class="sidebar-divider d-none d-md-block">
  
              <!-- Sidebar Toggler (Sidebar) -->
           </ul>
          <!-- End of Sidebar -->
          <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="bigblock">
                    <div class="left_block">
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
                    <script src="script.js"></script>
                    <div class="container">
                        <canvas id="myChart1" width="300" height="200"></canvas>
                   </div>
                   <script>
                       var ctx = document.getElementById('myChart1').getContext('2d');
var myChart1 = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Вокзал', '45-й квартал', 'Абзал', 'ДКГ', 'Диетстоловая', 'Театр им. Станиславского'],
        datasets: [{
            label: 'Наполнение (пасс.): ',
            data: [98, 123, 127, 130, 155, 157],
            backgroundColor: [
                'rgba(216, 27, 96, 0.6)',
                'rgba(3, 169, 244, 0.6)',
                'rgba(255, 152, 0, 0.6)',
                'rgba(29, 233, 182, 0.6)',
                'rgba(156, 39, 176, 0.6)',
                'rgba(84, 110, 122, 0.6)'
            ],
            borderColor: [
                'rgba(216, 27, 96, 1)',
                'rgba(3, 169, 244, 1)',
                'rgba(255, 152, 0, 1)',
                'rgba(29, 233, 182, 1)',
                'rgba(156, 39, 176, 1)',
                'rgba(84, 110, 122, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        legend: {
            display: false
        },
        title: {
            display: true,
            text: 'Картограмма пассажиропотоков 6-10 часов',
            position: 'top',
            fontSize: 16,
            padding: 35
        },
        scales: {
            yAxes: [{
                ticks: {
                    min: 75
                }
            }]
        }
    }
});
                   </script>
            </div>
            <div></div>
            <div class="right_block"> 
             <!-- Table -->
             <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Наименование остановочного пункта</th>
                    <th scope="col">Длина перегона, км</th>
                    <th scope="col">Вышло, пасс</th>
                    <th scope="col">Вошло, пасс</th>
                    <th scope="col">Наполнение, пасс</th>
                    <th scope="col">Пассажирооборот, пасс км</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Вокзал</td>
                    <td>0.7</td>
                    <td>8</td>
                    <td>3</td>
                    <td>98</td>
                    <td>72.1</td>
                  </tr>
                  <tr>
                    <td>45-й квартал</td>
                    <td>0.8</td>
                    <td>3</td>
                    <td>5</td>
                    <td>157</td>
                    <td>124</td>
                  </tr>
                  <tr>
                    <td>Абзал</td>
                    <td>0.8</td>
                    <td>2</td>
                    <td>27</td>
                    <td>123</td>
                    <td>78.4</td>
                  </tr>
                  <tr>
                    <td>ДКГ</td>
                    <td>0.7</td>
                    <td>6</td>
                    <td>10</td>
                    <td>127</td>
                    <td>86.1</td>
                  </tr>
                  <tr>
                    <td>Диетстоловая</td>
                    <td>0.9</td>
                    <td>4</td>
                    <td>7</td>
                    <td>130</td>
                    <td>114.3</td>
                  </tr>
                  <tr>
                    <td>Театр им. Станиславского</td>
                    <td>0.7</td>
                    <td>1</td>
                    <td>26</td>
                    <td>155</td>
                    <td>91</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>

        <div class="bigblock">
            <div class="left_block">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
            <script src="script.js"></script>
            <div class="container">
                <canvas id="myChart2" width="300" height="200"></canvas>
           </div>
           <script>
               var ctx = document.getElementById('myChart2').getContext('2d');
var myChart2 = new Chart(ctx, {
type: 'bar',
data: {
labels: ['Вокзал', '45-й квартал', 'Абзал', 'ДКГ', 'Диетстоловая', 'Театр им. Станиславского'],
datasets: [{
    label: 'Наполнение (пасс.): ',
    data: [141, 163, 168, 175, 169, 157],
    backgroundColor: [
        'rgba(216, 27, 96, 0.6)',
        'rgba(3, 169, 244, 0.6)',
        'rgba(255, 152, 0, 0.6)',
        'rgba(29, 233, 182, 0.6)',
        'rgba(156, 39, 176, 0.6)',
        'rgba(84, 110, 122, 0.6)'
    ],
    borderColor: [
        'rgba(216, 27, 96, 1)',
        'rgba(3, 169, 244, 1)',
        'rgba(255, 152, 0, 1)',
        'rgba(29, 233, 182, 1)',
        'rgba(156, 39, 176, 1)',
        'rgba(84, 110, 122, 1)'
    ],
    borderWidth: 1
}]
},
options: {
legend: {
    display: false
},
title: {
    display: true,
    text: 'Картограмма пассажиропотоков 10-15 часов',
    position: 'top',
    fontSize: 16,
    padding: 35
},
scales: {
    yAxes: [{
        ticks: {
            min: 75
        }
    }]
}
}
});
           </script>
    </div>
    <div></div>
    <div class="right_block"> 
     <!-- Table -->
     <table class="table">
        <thead>
          <tr>
            <th scope="col">Наименование остановочного пункта</th>
            <th scope="col">Длина перегона, км</th>
            <th scope="col">Вышло, пасс</th>
            <th scope="col">Вошло, пасс</th>
            <th scope="col">Наполнение, пасс</th>
            <th scope="col">Пассажирооборот, пасс км</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Вокзал</td>
            <td>0.7</td>
            <td>8</td>
            <td>3</td>
            <td>98</td>
            <td>72.1</td>
          </tr>
          <tr>
            <td>45-й квартал</td>
            <td>0.8</td>
            <td>3</td>
            <td>5</td>
            <td>157</td>
            <td>124</td>
          </tr>
          <tr>
            <td>Абзал</td>
            <td>0.8</td>
            <td>2</td>
            <td>27</td>
            <td>123</td>
            <td>78.4</td>
          </tr>
          <tr>
            <td>ДКГ</td>
            <td>0.7</td>
            <td>6</td>
            <td>10</td>
            <td>127</td>
            <td>86.1</td>
          </tr>
          <tr>
            <td>Диетстоловая</td>
            <td>0.9</td>
            <td>4</td>
            <td>7</td>
            <td>130</td>
            <td>114.3</td>
          </tr>
          <tr>
            <td>Театр им. Станиславского</td>
            <td>0.7</td>
            <td>1</td>
            <td>26</td>
            <td>155</td>
            <td>91</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

<div class="bigblock">
    <div class="left_block">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="script.js"></script>
    <div class="container">
        <canvas id="myChart3" width="300" height="200"></canvas>
   </div>
   <script>
       var ctx = document.getElementById('myChart3').getContext('2d');
var myChart3 = new Chart(ctx, {
type: 'bar',
data: {
labels: ['Вокзал', '45-й квартал', 'Абзал', 'ДКГ', 'Диетстоловая', 'Театр им. Станиславского'],
datasets: [{
label: 'Наполнение (пасс.): ',
data: [64, 67, 72, 74, 67, 62],
backgroundColor: [
'rgba(216, 27, 96, 0.6)',
'rgba(3, 169, 244, 0.6)',
'rgba(255, 152, 0, 0.6)',
'rgba(29, 233, 182, 0.6)',
'rgba(156, 39, 176, 0.6)',
'rgba(84, 110, 122, 0.6)'
],
borderColor: [
'rgba(216, 27, 96, 1)',
'rgba(3, 169, 244, 1)',
'rgba(255, 152, 0, 1)',
'rgba(29, 233, 182, 1)',
'rgba(156, 39, 176, 1)',
'rgba(84, 110, 122, 1)'
],
borderWidth: 1
}]
},
options: {
legend: {
display: false
},
title: {
display: true,
text: 'Картограмма пассажиропотоков 15-20 часов',
position: 'top',
fontSize: 16,
padding: 35
},
scales: {
yAxes: [{
ticks: {
    min: 60
}
}]
}
}
});
   </script>
</div>
<div></div>
<div class="right_block"> 
<!-- Table -->
<table class="table">
<thead>
  <tr>
    <th scope="col">Наименование остановочного пункта</th>
    <th scope="col">Длина перегона, км</th>
    <th scope="col">Вышло, пасс</th>
    <th scope="col">Вошло, пасс</th>
    <th scope="col">Наполнение, пасс</th>
    <th scope="col">Пассажирооборот, пасс км</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Вокзал</td>
    <td>0.7</td>
    <td>8</td>
    <td>3</td>
    <td>98</td>
    <td>72.1</td>
  </tr>
  <tr>
    <td>45-й квартал</td>
    <td>0.8</td>
    <td>3</td>
    <td>5</td>
    <td>157</td>
    <td>124</td>
  </tr>
  <tr>
    <td>Абзал</td>
    <td>0.8</td>
    <td>2</td>
    <td>27</td>
    <td>123</td>
    <td>78.4</td>
  </tr>
  <tr>
    <td>ДКГ</td>
    <td>0.7</td>
    <td>6</td>
    <td>10</td>
    <td>127</td>
    <td>86.1</td>
  </tr>
  <tr>
    <td>Диетстоловая</td>
    <td>0.9</td>
    <td>4</td>
    <td>7</td>
    <td>130</td>
    <td>114.3</td>
  </tr>
  <tr>
    <td>Театр им. Станиславского</td>
    <td>0.7</td>
    <td>1</td>
    <td>26</td>
    <td>155</td>
    <td>91</td>
  </tr>
</tbody>
</table>
</div>
</div>

        </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Kazantseva Yekaterina 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>