{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Migration Model</title>
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
    <style type="text/css">
        html { font-family:Calibri, Arial, Helvetica, sans-serif; font-size:11pt; background-color:white }
        a.comment-indicator:hover + div.comment { background:#ffd; position:absolute; display:block; border:1px solid black; padding:0.5em }
        a.comment-indicator { background:red; display:inline-block; border:1px solid black; width:0.5em; height:0.5em }
        div.comment { display:none }
        table { border-collapse:collapse; page-break-after:always }
        .gridlines td { border:1px dotted black }
        .gridlines th { border:1px dotted black }
        .b { text-align:center }
        .e { text-align:center }
        .f { text-align:right }
        .inlineStr { text-align:left }
        .n { text-align:right }
        .s { text-align:left }
        td.style0 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
        th.style0 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:11pt; background-color:white }
        td.style1 { vertical-align:middle; text-align:center; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:12pt; background-color:white }
        th.style1 { vertical-align:middle; text-align:center; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:12pt; background-color:white }
        td.style2 { vertical-align:middle; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:12pt; background-color:white }
        th.style2 { vertical-align:middle; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; font-weight:bold; color:#000000; font-family:'Calibri'; font-size:12pt; background-color:white }
        td.style3 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:12pt; background-color:white }
        th.style3 { vertical-align:bottom; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:12pt; background-color:white }
        td.style4 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:12pt; background-color:white }
        th.style4 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:12pt; background-color:white }
        td.style5 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:12pt; background-color:white }
        th.style5 { vertical-align:bottom; text-align:left; padding-left:0px; border-bottom:none #000000; border-top:none #000000; border-left:none #000000; border-right:none #000000; color:#000000; font-family:'Calibri'; font-size:12pt; background-color:white }
        table.sheet0 col.col0 { width:332.1111073pt }
        table.sheet0 col.col1 { width:71.16666585pt }
        table.sheet0 col.col2 { width:42pt }
        table.sheet0 tr { height:15pt }
        table.sheet0 tr.row0 { height:30.75pt }
        table.sheet0 tr.row1 { height:22.5pt }
        table.sheet0 tr.row2 { height:15.75pt }
        table.sheet0 tr.row3 { height:15.75pt }
        table.sheet0 tr.row4 { height:15.75pt }
        table.sheet0 tr.row5 { height:15.75pt }
        table.sheet0 tr.row6 { height:15.75pt }
        table.sheet0 tr.row7 { height:15.75pt }
        table.sheet0 tr.row8 { height:15.75pt }
        table.sheet0 tr.row9 { height:15.75pt }
      </style>
  </head>

    <body id="page-top">

      <!-- Page Wrapper -->
      <div id="wrapper">
  
          <!-- Sidebar -->
          <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  
              <!-- Sidebar - Brand -->
              <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                  <div class="sidebar-brand-icon rotate-n-15">
                      <i class="fas fa-laugh-wink"></i>
                  </div>
                  <div class="sidebar-brand-text mx-3">Migration Model</div>
              </a>
  
              <!-- Divider -->
              <hr class="sidebar-divider my-0">
  
              <!-- Nav Item - Dashboard -->
              <li class="nav-item active">
                  <a class="nav-link" href={% url 'show_turnover' %}>
                      <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span>Карта</span></a>
              </li>
              <hr class="sidebar-divider">
  
              <!-- Heading -->
              <div class="sidebar-heading">
                  Анализ
              </div>
              <!-- Nav Item - Charts -->
              <li class="nav-item">
                  <a class="nav-link" href={% url 'show_matrices' %}>
                      <i class="fas fa-fw fa-chart-area"></i>
                      <span>Матрица корреспонденций</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href={% url 'show_charts' %}>
                      <i class="fas fa-fw fa-chart-area"></i>
                      <span>Картограммы пассажиропотоков</span></a>
              </li>
  
              <li class="nav-item">
                  <a class="nav-link" href={% url 'show_tables' %}>
                      <i class="fas fa-fw fa-chart-area"></i>
                      <span>Таблицы обследования пассажиропотоков</span></a>
              </li>
  
              <li class="nav-item">
                  <a class="nav-link" href={% url 'show_character' %}>
                      <i class="fas fa-fw fa-chart-area"></i>
                      <span>Характиристики маршрутов</span></a>
              </li>
  
              <li class="nav-item">
                  <a class="nav-link" href={% url 'show_criterion' %}>
                      <i class="fas fa-fw fa-chart-area"></i>
                      <span>Расчет критериев качества</span></a>
              </li>
  
              
              <!-- Divider -->
              <hr class="sidebar-divider d-none d-md-block">
  
              <!-- Sidebar Toggler (Sidebar) -->
           </ul>
          <!-- End of Sidebar -->
          <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    

        

<div class="bigblock">
    <table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0 gridlines">
        <col class="col0">
        <col class="col1">
        <col class="col2">
        <tbody>
          <tr class="row0">
            <td class="column0 style1 s style1" colspan="3">Расчет критериев качества для маршрута 011</td>
          </tr>
          <tr class="row1">
            <td class="column0 style2 s">Название</td>
            <td class="column1 style2 s">Значение</td>
            <td class="column2 style2 s">Ед.изм.</td>
          </tr>
          <tr class="row2">
            <td class="column0 style3 s">Среднее время реализации корреспонденции</td>
            <td class="column1 style4 n">60.54</td>
            <td class="column2 style4 s">мин</td>
          </tr>
          <tr class="row3">
            <td class="column0 style3 s">Максимальное время реализации корреспонденции</td>
            <td class="column1 style4 n">171.29</td>
            <td class="column2 style4 s">мин</td>
          </tr>
          <tr class="row4">
            <td class="column0 style3 s">Минимальное время реализации корреспонденции</td>
            <td class="column1 style5 n">7.45</td>
            <td class="column2 style4 s">мин</td>
          </tr>
          <tr class="row5">
            <td class="column0 style3 s">Суммарное время движения</td>
            <td class="column1 style4 n">48468</td>
            <td class="column2 style4 s">мин</td>
          </tr>
          <tr class="row6">
            <td class="column0 style3 s">Среднее время движения</td>
            <td class="column1 style4 n">80.67</td>
            <td class="column2 style4 s">мин</td>
          </tr>
          <tr class="row7">
            <td class="column0 style3 s">Доля населения в средневзвешенной часовой доступности на ИТ</td>
            <td class="column1 style4 n">0.838478</td>
            <td class="column2 style4 null"></td>
          </tr>
          <tr class="row8">
            <td class="column0 style3 s">Доля населения в средневзвешенной часовой доступности на ОТ</td>
            <td class="column1 style4 n">0.66416</td>
            <td class="column2 style4 null"></td>
          </tr>
          <tr class="row9">
            <td class="column0 style3 s">Максимальная разница между ИТ и ОТ</td>
            <td class="column1 style4 n">65.37</td>
            <td class="column2 style4 s">мин</td>
          </tr>
        </tbody>
    <a href={% url 'load_criterion' %}>Скачать</a>
</table>
</div>

        </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>